[submodule "typescript-sdk"]
	path = typescript-sdk
	url = https://github.com/modelcontextprotocol/typescript-sdk.git
[submodule "contextvm-docs"]
	path = contextvm-docs
	url = https://github.com/ContextVM/contextvm-docs
[submodule "lemonade-legends-site"]
	path = lemonade-legends-site
	url = https://github.com/ContextVM/lemonade-legends-site
