[submodule "typescript-sdk"]
	path = typescript-sdk
	url = https://github.com/modelcontextprotocol/typescript-sdk.git
[submodule "applesauce"]
	path = applesauce
	url = https://github.com/hzrd149/applesauce.git
